{% extends "layouts/base.html" %}
{% block title %}{{ curation.slug }} - Published Curation{% endblock %}
{% block description %}View published curation {{ curation.slug }}.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        {% include "common/icon.html" with icon_name="house" %}
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'repo-search' %}">
                        {% include "common/icon.html" with icon_name="search" %}
                        HLArepo
                    </a>
                </li>
                <li class="is-active">
                    <b>
                        <a href="" aria-current="page">
                            {% include "common/icon.html" with icon_name="journal-text" %}
                            {{ curation.slug|default_if_none:"------" }} Details
                        </a>
                    </b>
                </li>
            </ul>
        </nav>

        {% if superseded and superseding %}
            <div class="notification is-warning is-light">
                <p>
                    This curation has been superseded by
                    <a href="{% url 'repo-detail' superseding.curation.slug %}">{{ superseding.curation.slug }}</a>.
                </p>
            </div>
        {% endif %}

        {% if curation.copied_from %}
            <div class="notification is-info is-light">
                <p>
                    This curation is an update of
                    <a href="{% url 'repo-detail' curation.copied_from.slug %}">{{ curation.copied_from.slug }}</a>.
                </p>
            </div>
        {% endif %}

        {% include "curation/partials/curation/detail_table.html" with object=curation %}

        <div class="buttons">
            <a href="{% url 'repo-download-single' curation.slug %}"
               class="button">
                {% include "common/icon.html" with icon_name="download" %}
                Download as JSON
            </a>
            <a href="{% url 'repo-history' curation.slug %}"
               class="button">
                {% include "common/icon.html" with icon_name="clock-history" %}
                History
            </a>
            {% if request.user.is_authenticated and request.user.profile.can_curate %}
                <form method="post" action="{% url 'curation-copy' curation.slug %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit"
                            class="button"
                            onclick="return confirm('Copy and recurate this curation? A new editable copy will be created.');">
                        {% include "common/icon.html" with icon_name="diagram-2" %}
                        Copy and Recurate
                    </button>
                </form>
            {% endif %}
        </div>

        {% include "curation/partials/evidence/detail_table.html" with object=curation %}

    </div>
{% endblock %}
