{% extends "layouts/base.html" %}
{% block title %}{{ curation.slug }} - Published Curation{% endblock %}
{% block description %}View published curation {{ curation.slug }}.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        {% include "common/icon.html" with icon_name="house" %}
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'repo-search' %}">
                        {% include "common/icon.html" with icon_name="search" %}
                        HLArepo
                    </a>
                </li>
                <li class="is-active">
                    <b>
                        <a href="" aria-current="page">
                            {% include "common/icon.html" with icon_name="journal-text" %}
                            {{ curation.slug|default_if_none:"------" }} Details
                        </a>
                    </b>
                </li>
            </ul>
        </nav>

        {% include "curation/partials/curation/detail_table.html" with object=curation %}

        <a href="{% url 'repo-download-single' curation.slug %}"
           class="button">
            {% include "common/icon.html" with icon_name="download" %}
            Download as JSON
        </a>
    
        {% include "curation/partials/evidence/detail_table.html" with object=curation %}

    </div>
{% endblock %}
