{% extends "layouts/base.html" %}
{% load static %}
{% block title %}HLARepo Home{% endblock %}
{% block description %}View or download published HLA curations.{% endblock %}
{% block main %}
    <div class="block mt-6">
        <section class="hero is-light">
            <div class="hero-body">
                <p class="title">HLARepo</p>
                <p class="subtitle">View or download published HLA curations.</p>
            </div>
        </section>
    </div>
    <div class="mt-6 mb-6 has-text-centered">
        <img src="{% static 'hci/img/under-construction.gif' %}"
             alt="A retro under construction gif."
             style="padding-right: 5px;"
        />
        The HLARepo is under construction.
        <img src="{% static 'hci/img/under-construction.gif' %}"
             alt="A retro under construction gif."
             style="padding-left: 5px;"
        />
    </div>
{% endblock %}
