{% extends "layouts/base.html" %}
{% load static %}
{% block title %}{{ object.slug }} Details{% endblock %}
{% block description %}View information about {{ object.slug }}.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        {% include "common/icon.html" with icon_name="house" %}
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'disease-list' %}">
                        {% include "common/icon.html" with icon_name="search" %}
                        Disease Search
                    </a>
                </li>
                <li class="is-active">
                    <b>
                        <a href="" aria-current="page">
                            {% include "common/icon.html" with icon_name="journal-text" %}
                            {{ object.slug|default_if_none:"------" }} Details
                        </a>
                    </b>
                </li>
            </ul>
        </nav>

        <div class="block table-container">
            <table class="table">
                <tbody>
                    <tr>
                        <td>HCI Disease ID</td>
                        <td>{{ object.slug }}</td>
                    </tr>
                        <tr>
                            <td>Mondo ID</td>
                            <td>
                                {% if object.mondo_id and object.iri %}
                                    {% with url=object.iri text=object.mondo_id %}
                                        {% include "common/linkout.html" %}
                                    {% endwith %}
                                {% endif %}
                            </td>
                        </tr>
                    <tr>
                        <td>Added</td>
                        <td>{{ object.added_at|date:"Y-m-d" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if object.curations.all %}
            <details class="mt-2">
                <summary><b>Curations</b></summary>
                {% include "curation/partials/table.html" with curations=object.curations.all %}
            </details>
        {% endif %}

    </div>
{% endblock %}
