<table class="table">
    <tr>
        <th>Descriptor</th>
        <th>CAR ID</th>
    </tr>
    {% for allele in alleles %}
        <tr>
            <td><a href="#">{{ allele.descriptor }}</a></td>
            <td>
                <a href="{{ allele.car_url }}" target="_blank" rel="noopener noreferrer">
                    {% include 'includes/icon.html' with name='external-link' %}{{ allele.car_id }}
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="2">No results.</td>
        </tr>
    {% endfor %}
</table>
<div class="block">
    <article class="message is-info">
        <div class="message-header">
            <p>{% include "includes/icon.html" with name="info" %}CAR ID Links</p>
        </div>
        <div class="message-body">
            <p>
                Right now, the CAR ID links point to the API response for the
                HLA allele. In the future, these will link to the CAR UI page for the
                HLA allele. (The CAR hasn't published the UI pages yet.)
            </p>
        </div>
    </article>
</div>
<script>
    // This makes the external link icon work. It's necessary because this table is a
    // partial that gets swapped in via HTMX.
    feather.replace();
</script>
