<div class="field">
    {% if hide_label %}
        <label class="label is-hidden" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="has-text-danger">{{ field.errors }}</div>
    {% else %}
        <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="has-text-danger">{{ field.errors }}</div>
    {% endif %}
    {% if field.help_text %}
        <p class="help">{{ field.help_text }}</p>
    {% endif %}
    <div class="control">
        <input class="input column is-half"
               id="{{ field.id_for_label }}"
               name="{{ field.html_name }}"
               {% if type %}type="{{ type }}"{% endif %}
               {% if field.value %}value="{{ field.value }}"{% endif %}
               {% if autocomplete %}autocomplete="{{ autocomplete }}"{% endif %}
               {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}>

    </div>
</div>
