.publication-logo {
  width: 100px;
  padding: 5px;
}

.logo-container {
  padding: 20px;
}

@media (prefers-color-scheme: dark) {
  .logo-container {
    background-color: black;
    padding: 20px;
  }
}
