.entity-type-logo {
  height: 50px;
  padding: 5px;
}

.footer-logo-container {
  padding: 20px;
}

@media (prefers-color-scheme: dark) {
  .footer-logo-container {
    background-color: black;
    padding: 20px;
  }
}
