.entity-type-logo {
  height: 50px;
  padding: 5px;
}

.footer-logo-container {
  padding: 20px;
}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}