{% extends "layouts/base.html" %}
{% block title %}Profile History{% endblock %}
{% block description %}View the history of changes to your user profile.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        {% include "common/icon.html" with icon_name="house" %}
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'profile' %}">
                        {% include "common/icon.html" with icon_name="person" %}
                        Profile
                    </a>
                </li>
                <li class="is-active">
                    <b>
                        <a href="" aria-current="page">
                            {% include "common/icon.html" with icon_name="clock-history" %}
                            Profile History
                        </a>
                    </b>
                </li>
            </ul>
        </nav>

        {% include "common/history/history_body.html" with table_id="profile-history-table" change_url_name="profile-change" %}

    </div>
{% endblock %}
