{% if hide_label %}
    <label class="label is-hidden" data-field="{{ field.auto_id }}">{{ field.label }}</label>
    {% if public %}{% include "common/form/public_note.html" %}{% endif %}
{% else %}
    <label class="label" data-field="{{ field.auto_id }}">{{ field.label }}{% if public %} {% include "common/public_badge.html" %}{% endif %}</label>
{% endif %}
{% if show_help and field.help_text %}
    <p class="help">{{ field.help_text }}</p>
{% endif %}
<div class="has-text-danger">{{ field.errors }}</div>
<div class="field">
    <div class="control">
        {% for radio in field %}
            <div>
                {{ radio }}
            </div>
        {% endfor %}
    </div>
</div>
