{% load tz %}
<table class="table">
    <tr>
        <th>Curation ID</th>
        <th>Disease</th>
        <th>Allele</th>
        <th>Modified</th>
        <th>Created</th>
    </tr>
    {% for curation in curations %}
        <tr>
            <td><a href="{% url 'details_allele_curation' curation_id=curation.curation_id %}">{{ curation.curation_id }}</a></td>
            <td><a href="#">{{ curation.disease.label }}</a></td>
            <td><a href="#">{{ curation.allele.descriptor }}</a></td>
            <td>{{ curation.updated_at }} UTC</td>
            <td>{{ curation.created_at }} UTC</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="3">No curations yet.</td>
        </tr>
    {% endfor %}
</table>
