[Unit]
Description=Daphne service
Requires=daphne.socket
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory={{ repo_dir }}/src
ExecStart={{ repo_dir }}/.venv/bin/daphne -b 0.0.0.0 -p 8000 config.asgi:application

[Install]
WantedBy=multi-user.target