{% extends "layouts/base.html" %}
{% block main %}
    <div class="block mt-6 mb-6">
        <h1 class="title">{% block heading %}{% endblock %}</h1>
        <nav class="level">
            <div class="level-left">
                {% if user_profile.firebase_photo_url %}
                    <div class="level-item">
                        <figure class="image is-32x32">
                            <img class="is-rounded" src="{{ user_profile.firebase_photo_url }}" alt="User photo.">
                        </figure>
                    </div>
                {% endif %}
                <div class="level-left">
                    <h2 class="subtitle">{{ request.user.email }}</h2>
                </div>
            </div>
        </nav>
        <div class="block">{% block buttons %}{% endblock %}</div>
        <table class="table">
            <tbody>{% block tbody %}{% endblock %}</tbody>
        </table>
    </div>
{% endblock %}
