{% extends "layouts/base.html" %}
{% block title %}Add Allele{% endblock %}
{% block description %}Add an allele to the HLA Curation Interface.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">
    <h1 class="title">Add Allele</h1>
        <form method="post">{% csrf_token %}
            {{ form.non_field_errors }}
            {% with field=form.car_id %}
                {% include "partials/form/input_text.html" %}
            {% endwith %}
            <button type="submit" class="button is-link">
                Submit
            </button>
        </form>
    </div>
{% endblock %}
