{% extends "layouts/base.html" %}
{% block title %}Allele #{{ object.pk }} Details{% endblock %}
{% block description %}View information about allele #{{ object.pk }}.{% endblock %}
{% block main %}
    {% include "allele/partials/detail_content.html" with object=object %}
    {% if object.haplotypes.all %}
        <div class="box mt-6 mb-6">
            <h1 class="title">Haplotypes</h1>
            <table class="table">
                {% for haplotype in object.haplotypes.all %}
                    <tr>
                        <td>
                            <a id="haplotype-anchor"
                               href="{% url 'haplotype-detail' haplotype.pk %}"
                            >
                                #{{ haplotype.pk }}
                            </a>
                        </td>
                        <td id="haplotype-name">
                            {{ haplotype.name }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
