{% extends "layouts/base.html" %}
{% load static %}
{% block title %}{{ object.slug }} Details{% endblock %}
{% block description %}View information about {{ object.slug }}.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        {% include "common/icon.html" with icon_name="house" %}
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'allele-list' %}">
                        {% include "common/icon.html" with icon_name="search" %}
                        Allele Search
                    </a>
                </li>
                <li class="is-active">
                    <b>
                        <a href="" aria-current="page">
                            {% include "common/icon.html" with icon_name="journal-text" %}
                            {{ object.slug|default_if_none:"------" }} Details
                        </a>
                    </b>
                </li>
            </ul>
        </nav>

        <div class="block table-container">
            <table class="table">
                <tbody>
                    <tr>
                        <td>HCI Allele ID</td>
                        <td>{{ object.slug|default_if_none:"------" }}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ object.name|default_if_none:"------" }}</td>
                    </tr>
                    <tr>
                        <td>ClinGen Allele Registry ID</td>
                        <td>
                            {% if object.car_id %}
                                {% with url="https://reg.clinicalgenome.org/car/ui/id/xahla/detail/"|add:object.car_id text=object.car_id %}
                                    {% include "common/linkout.html" %}
                                {% endwith %}
                            {% else %}
                                ------
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Added</td>
                        <td>{{ object.added_at|default_if_none:"------"|date:"Y-m-d" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if object.curations.all %}
            <details class="mt-2">
                <summary><b>Curations</b></summary>
                {% include "curation/partials/table.html" with curations=object.curations.all %}
            </details>
        {% endif %}

        {% if object.haplotypes.all %}
            <details class="mt-2">
                <summary><b>Haplotypes</b></summary>
                {% include "haplotype/partials/table.html" with haplotypes=object.haplotypes.all %}
            </details>
        {% endif %}

    </div>
{% endblock %}
