{% if user.is_authenticated %}
    {% if not user.profile.has_signed_phi_agreement or not user.profile.has_curation_permissions %}
        <div class="block mt-4">
            <article class="message is-info">
                <div class="message-header">
                    {% with icon_name="info-square" %}
                        <p>{% include "common/icon.html" %}Account Activation</p>
                    {% endwith %}
                </div>
                <div class="message-body">
                    <ul>
                        {% if not user.profile.has_signed_phi_agreement %}
                            <li>
                                You haven't signed the PHI agreement yet.
                                Please sign the PHI agreement
                                <a href="{% url 'profile' %}">here</a>.
                            </li>
                        {% endif %}
                        {% if not user.profile.has_curation_permissions %}
                            <li>
                                Your user account does not have curation permissions.
                                Please email
                                <a href="mailto:hci@clinicalgenome.org">hci@clinicalgenome.org</a>
                                to request curation permissions.
                            </li>
                        {% endif %}
                        <li>
                            If you haven't done so already, please read the
                            <a href="https://docs.google.com/document/d/1iZnCEf4nnTbQlvuWOSwIeNU_5Nsd56w26lV6hYJOALU/edit?tab=t.0#heading=h.mvjbqvgggx1r">standard operating procedure for HLA curation</a>.
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    {% endif %}
{% endif %}
