{% load static %}
<div class="footer" hx-boost="true">
    <div class="columns">
        <div class="column">
            <a href="https://clinicalgenome.org">
                <div class="footer-logo-container">
                    <img src="{% static 'hci/img/clingen-logo-with-text.svg' %}"
                         alt="The ClinGen logo with 'Clinical Genome Resource' text underneath."
                    >
                </div>
            </a>
        </div>
        <div class="column">
            <a href="https://med.stanford.edu">
                <div class="footer-logo-container">
                    <img src="{% static 'hci/img/stanford-medicine-logo.png' %}"
                         alt="The Stanford Medicine logo."
                    >
                </div>
            </a>
        </div>
        <div class="column">
            <ul>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'help' %}">Help</a></li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li><a href="{% url 'downloads' %}">Downloads</a></li>
                <li><a href="{% url 'citing' %}">Citing</a></li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li><a href="{% url 'acknowledgements' %}">Acknowledgements</a></li>
                <li><a href="{% url 'collaborators' %}">Collaborators</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="content is-small">
        <p>&copy; Clinical Genome Resource</p>
        <p>
            The development and maintenance of the HCI is financially supported by
            NIH/NHGRI. It is managed at Stanford University U24HG009649.
        </p>
        <p>
            HCI data are subject to the
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
                CC BY-SA 4.0</a>
            license.
        </p>
        <p>
            The HCI is an open-source project. View the
            <a href="https://github.com/ClinGen/hla-curation-interface">source code</a>.
            The source code is subject to the
            <a href="https://opensource.org/license/MIT">MIT License</a>.
        </p>
    </div>
</div>
