<nav hx-boost="true" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="{{ url('home') }}" class="navbar-item">Home</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if request.user.is_authenticated %}
                        <a id="log-out-button" href="{{ url('logout') }}" class="button">
                            {% set icon_name="box-arrow-right" %}
                            {% include "partials/icon.html" %}
                            Log Out
                        </a>
                        <a href="{{ url('view-profile') }}" class="button">
                            {% set icon_name="person-check" %}
                            {% include "partials/icon.html" %}
                            Profile
                        </a>
                    {% else %}
                        <a href="{{ url('login') }}" class="button">
                            {% set icon_name="box-arrow-in-right" %}
                            {% include "partials/icon.html" %}
                            Log In
                        </a>
                        <a href="{{ url('signup') }}" class="button">
                            {% set icon_name="person" %}
                            {% include "partials/icon.html" %}
                            Sign Up
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
