{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ static('hci/css/bootstrap-icons.css') }}">
{% endblock %}
{% for message in get_messages(request) %}
    {% if "debug" in message.tags %}
        <div class="block">
            <article class="message">
                <div class="message-header">
                    {% set icon_name="bug" %}
                    <p>{% include "partials/icon.html" %}Debug</p>
                    <button hx-on-click="this.closest('.block').remove()" class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        </div>
    {% elif "info" in message.tags %}
        <div class="block">
            <article class="message is-info">
                <div class="message-header">
                    {% set icon_name="info-square" %}
                    <p>{% include "partials/icon.html" %}Info</p>
                    <button hx-on-click="this.closest('.block').remove()" class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        </div>
    {% elif "success" in message.tags %}
        <div class="block">
            <article class="message is-success">
                <div class="message-header">
                    {% set icon_name="star" %}
                    <p>{% include "partials/icon.html" %}Success</p>
                    <button hx-on-click="this.closest('.block').remove()" class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        </div>
    {% elif "warning" in message.tags %}
        <div class="block">
            <article class="message is-warning">
                <div class="message-header">
                    {% set icon_name="exclamation-triangle" %}
                    <p>{% include "partials/icon.html" %}Warning</p>
                    <button hx-on-click="this.closest('.block').remove()" class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        </div>
    {% elif "error" in message.tags %}
        <div class="block">
            <article class="message is-danger">
                <div class="message-header">
                    {% set icon_name="exclamation-octagon" %}
                    <p>{% include "partials/icon.html" %}Error</p>
                    <button hx-on-click="this.closest('.block').remove()" class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        </div>
    {% endif %}
{% endfor %}
