{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
            {% with url="home" text="Home" %}
                {% include 'partials/navbar_link.html' %}
            {% endwith %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Alleles</a>
                <div class="navbar-dropdown">
                    {% with url="allele-search" text="Search" %}
                        {% include 'partials/navbar_link.html' %}
                    {% endwith %}
                    {% with url="allele-create" text="Add" %}
                        {% include 'partials/navbar_link.html' %}
                    {% endwith %}
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Haplotypes</a>
                <div class="navbar-dropdown">
                    {% with url="haplotype-search" text="Search" %}
                        {% include 'partials/navbar_link.html' %}
                    {% endwith %}
                    {% with url="haplotype-create" text="Add" %}
                        {% include 'partials/navbar_link.html' %}
                    {% endwith %}
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Diseases</a>
                <div class="navbar-dropdown">
                    {% with url="disease-search" text="Search" %}
                        {% include 'partials/navbar_link.html' %}
                    {% endwith %}
                    {% with url="disease-create" text="Add" %}
                        {% include 'partials/navbar_link.html' %}
                    {% endwith %}
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Publications</a>
                <div class="navbar-dropdown">
                    {% with url="publication-search" text="Search" %}
                        {% include 'partials/navbar_link.html' %}
                    {% endwith %}
                    {% with url="publication-create" text="Add" %}
                        {% include 'partials/navbar_link.html' %}
                    {% endwith %}
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Curations</a>
                <div class="navbar-dropdown">
                    {% with url="curation-search" text="Search" %}
                        {% include 'partials/navbar_link.html' %}
                    {% endwith %}
                    {% with url="curation-create" text="Add" %}
                        {% include 'partials/navbar_link.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if user.is_authenticated %}
                        <a id="log-out-button" href="{% url 'logout' %}" class="button">
                            {% with icon_name="box-arrow-right" %}
                                {% include "common/icon.html" %}
                            {% endwith %}
                            Log Out
                        </a>
                        <a href="{% url 'view-profile' %}" class="button">
                            {% with icon_name="person-check" %}
                                {% include "common/icon.html" %}
                            {% endwith %}
                            Profile
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}" class="button">
                            {% with icon_name="box-arrow-in-right" %}
                                {% include "common/icon.html" %}
                            {% endwith %}
                            Log In
                        </a>
                        <a href="{% url 'signup' %}" class="button">
                            {% with icon_name="person" %}
                                {% include "common/icon.html" %}
                            {% endwith %}
                            Sign Up
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    // Adds navbar burger functionality. Copied from Bulma docs.
    document.addEventListener('htmx:load', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
                const target = el.dataset.target;
                const $target = document.getElementById(target);
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
            });
        });
    });
</script>
