{% extends "firebase/layouts/profile.html" %}
{% block title %}Edit Profile{% endblock %}
{% block description %}Edit your user profile in the HLA Curation Interface.{% endblock %}
{% block heading %}Edit User Profile{% endblock %}
{% block buttons %}
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link is-small">Save</button>
        </div>
        <div class="control">
            <a href="{{ url('profile_view') }}"
               hx-boost="true"
               class="button is-link is-light is-small"
            >
                Cancel
            </a>
        </div>
    </div>
{% endblock %}
{% block tbody %}
    <tr>
        <td>Display Name</td>
        <td>
            <div class="field">
                <div class="control">
                    <input class="input is-small"
                           type="text"
                           {% if user_profile.firebase_display_name %}
                               value="{{ user_profile.firebase_display_name }}"
                           {% endif %}
                    >
                </div>
            </div>
        </td>
    </tr>
    <tr>
        {% include "firebase/partials/profile/email.html" %}
    </tr>
{% endblock %}
