{% extends "layouts/base.html" %}
{% block main %}
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        {% include "common/icon.html" with icon_name="house" %}
                        Home
                    </a>
                </li>
                <li class="is-active">
                    <b>
                        <a href="" aria-current="page">
                            {% include "common/icon.html" with icon_name="info-circle" %}
                            {% block heading %}{% endblock %}
                        </a>
                    </b>
                </li>
            </ul>
        </nav>

        <div class="block mb-4">
            {% block content %}{% endblock %}
        </div>

    </div>
{% endblock %}
