{% extends "layouts/base.html" %}
{% block title %}Mondo Diseases{% endblock %}
{% block description %}The page where curators can view all or a subset of Mondo diseases in the HLA curation interface.{% endblock %}
{% block content %}
    <div class="block">
        <h1 class="title">Search Diseases</h1>
        <div class="block">
            <label class="label" for="active-search-input">Search for Mondo diseases</label>
            <input class="input column is-half"
                   id="active-search-input"
                   type="search"
                   name="q"
                   placeholder="Search by Mondo ID or label"
                   hx-get="{% url 'list_mondo' %}"
                   hx-trigger="input changed delay:300ms, keyup[key=='Enter'], load"
                   hx-target="#mondo-table"
                   hx-swap="innerHTML"
                   hx-params="*"
                   autocomplete="off"
            />
        </div>
        <div class="block" id="mondo-table">
            {% include "diseases/includes/mondo_table.html" %}
        </div>
    </div>
{% endblock %}
