{% extends "layouts/base.html" %}
{% block title %}Login{% endblock %}
{% block description %}The login page for the HLA curation interface.{% endblock %}
{% block content %}
    <div class="block">
        <h1 class="title">HCI Login</h1>
        <div class="block">
            <form method="post">
                {% csrf_token %}
                <p class="has-text-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </p>
                {% include "includes/form_input.html" with field=form.username placeholder="Username" autocomplete="username" %}
                {% include "includes/form_input.html" with field=form.password placeholder="Password" autocomplete="password" type="password" %}
                {% include "includes/form_submit_button.html" with text="Log In" %}
            </form>
        </div>
        <div class="block">
            <p>Need to create an account? <a href="{%  url 'signup' %}">Sign Up</a></p>
        </div>
    </div>
{% endblock %}
