{% extends "layouts/base.html" %}
{% block title %}Profile{% endblock %}
{% block description %}The profile page for {{ user.username }} in the HLA curation interface.{% endblock %}
{% block content %}
    <div class="block">
        <h1 class="title">Curator Profile</h1>
        <div class="block">
            <table class="table">
                <tbody>
                <tr>
                    <td>Username</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <td>Active Affiliation</td>
                    <td>{{ affiliation.affiliation_name }} ({{ affiliation.affiliation_id }})</td>
                </tr>
                <tr>
                    <td>Most Recent Login</td>
                    <td>{{ user.last_login }} UTC</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="block">
            <article class="message is-info">
                <div class="message-header">
                    <p>{% include "includes/icon.html" with name="info" %}Active Affiliation</p>
                </div>
                <div class="message-body">
                    If you want to curate as part of a group, and you would like a
                    separate affiliation, please email
                    <a href="mailto:hci@clinicalgenome.org">hci@clinicalgenome.org</a>.
                </div>
            </article>
        </div>
    </div>
{% endblock %}