{% extends "layouts/base.html" %}
{% load static %}
{% block title %}{{ object.slug }} Details{% endblock %}
{% block description %}View information about publication {{ object.slug }}.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        {% include "common/icon.html" with icon_name="house" %}
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'publication-list' %}">
                        {% include "common/icon.html" with icon_name="search" %}
                        Publication Search
                    </a>
                </li>
                <li class="is-active">
                    <b>
                        <a href="" aria-current="page">
                            {% include "common/icon.html" with icon_name="journal-text" %}
                            {{ object.slug|default_if_none:"------" }} Details
                        </a>
                    </b>
                </li>
            </ul>
        </nav>

        <div class="block table-container">
            <table class="table">
                <tbody>
                    <tr>
                        <td>HCI Publication ID</td>
                        <td>{{ object.slug|default_if_none:"------" }}</td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td><i>{{ object.title|default_if_none:"------" }}</i></td>
                    </tr>
                    <tr>
                        <td>Primary Author</td>
                        <td>{{ object.author|default_if_none:"------" }}</td>
                    </tr>
                    <tr>
                        <td>Publication Year</td>
                        <td>{{ object.publication_year|default_if_none:"------" }}</td>
                    </tr>
                    <tr>
                        <td>PubMed ID</td>
                        <td>
                            {% if object.pubmed_id %}
                                {% with url="https://pubmed.ncbi.nlm.nih.gov/"|add:object.pubmed_id text=object.pubmed_id %}
                                    {% include "common/external_link.html" %}
                                {% endwith %}
                            {% else %}
                                ------
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Digital Object Identifier</td>
                        <td id="doi">
                            {% if object.doi %}
                                {% with url="https://doi.org/"|add:object.doi text=object.doi %}
                                    {% include "common/external_link.html" %}
                                {% endwith %}
                            {% else %}
                                ------
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Added</td>
                        <td id="added-at">{{ object.added_at|default_if_none:"------"|date:"Y-m-d" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if object.evidence.all %}
            <details class="mt-2">
                <summary><b>Evidence</b></summary>
                <div class="block table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Evidence ID</th>
                                <th>Curation ID</th>
                                <th>Allele</th>
                                <th>Haplotype</th>
                                <th>Disease</th>
                                <th>Status</th>
                                <th>Classification</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for evidence in object.evidence.all %}
                                <tr>
                                    <td>
                                        {% if evidence.curation.slug and evidence.slug %}
                                            <a href="{% url 'evidence-detail' evidence.curation.slug evidence.slug %}">
                                                {{ evidence.slug }}
                                            </a>
                                        {% else %}
                                            ------
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if evidence.slug %}
                                            <a href="{% url 'curation-detail' evidence.curation.slug %}">
                                                {{ evidence.curation.slug }}
                                            </a>
                                        {% else %}
                                            ------
                                        {% endif %}
                                    </td>
                                    <td>{{ evidence.curation.allele|default_if_none:"------" }}</td>
                                    <td>{{ evidence.curation.haplotype|default_if_none:"------" }}</td>
                                    <td>{{ evidence.curation.disease|default_if_none:"------" }}</td>
                                    <td>
                                        {% if evidence.curation.publication %}
                                            {{ evidence.curation.get_status_display|default_if_none:"------" }}/Published
                                        {% else %}
                                            {{ evidence.curation.get_status_display|default_if_none:"------" }}
                                        {% endif %}
                                    </td>
                                    <td>{{ evidence.curation.get_classification_display|default_if_none:"------" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </details>
        {% endif %}

    </div>
{% endblock %}
