{% extends "layouts/base.html" %}
{% block title %}{{ object.slug }} History{% endblock %}
{% block description %}View the history of changes to {{ object.slug }}.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        {% include "common/icon.html" with icon_name="house" %}
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'publication-list' %}">
                        {% include "common/icon.html" with icon_name="search" %}
                        Publication Search
                    </a>
                </li>
                <li>
                    <a href="{% url 'publication-detail' object.slug %}">
                        {% include "common/icon.html" with icon_name="journal-text" %}
                        {{ object.slug }} Details
                    </a>
                </li>
                <li class="is-active">
                    <b>
                        <a href="" aria-current="page">
                            {% include "common/icon.html" with icon_name="clock-history" %}
                            {{ object.slug }} History
                        </a>
                    </b>
                </li>
            </ul>
        </nav>

        {% include "common/history/history_body.html" with table_id="publication-history-table" change_url_name="publication-change" change_url_slug1=object.slug %}

    </div>
{% endblock %}
