{% extends "core/layouts/page.html" %}
{% block title %}About{% endblock %}
{% block description %}About the HLA Curation Interface.{% endblock %}
{% block heading %}About{% endblock %}
{% block content %}
    <p>
        The HLA Curation Interface (HCI) is a tool designed to facilitate the
        curation of information about HLA alleles and haplotypes. It is developed
        and maintained by the Stanford University contingent of the Clinical Genome
        Resource project.
    </p>
{% endblock %}
