{% extends "core/layouts/page.html" %}
{% block title %}Acknowledgements{% endblock %}
{% block description %}Acknowledgements for the HLA Curation Interface.{% endblock %}
{% block heading %}Acknowledgements{% endblock %}
{% block content %}
    <div class="block">
        <p>
            The HCI was made possible by National Institutes of Health U24 grant
            U24HG009649.
        </p>
    </div>
    <div class="block">
        <p>
            We are grateful to the contributors who provided assistance in developing
            the HCI. In particular, we would like to thank
            <a href="https://profiles.ucsf.edu/steven.mack">Steven Mack</a>
            (Chair of the ClinGen
            <a href="https://clinicalgenome.org/working-groups/rheumatologic-autoimmune-disease/hla-working-group/">HLA Working Group</a>).
        </p>
    </div>
{% endblock %}
