{% extends "core/layouts/page.html" %}
{% block title %}Citing{% endblock %}
{% block description %}Guidelines for citing the HLA Curation Interface.{% endblock %}
{% block heading %}Citing{% endblock %}
{% block content %}
    <div class="block">
        <p>
            When citing the HCI in your work, please use the following format.
        </p>
    </div>
    <div class="block">
        <pre>Clinical Genome Resource. HLA Curation Interface. Stanford University. Retrieved from https://hci.clinicalgenome.org.</pre>
    </div>
    <div class="block">
        <p>
            If you used data from the HCI in your research, please also cite the
            specific dataset and the date it was downloaded.
        </p>
    </div>
{% endblock %}
