{% extends "core/layouts/page.html" %}
{% block title %}Collaborators{% endblock %}
{% block description %}Collaborators of the HLA Curation Interface.{% endblock %}
{% block heading %}Collaborators{% endblock %}
{% block content %}
    <div class="content">
        <ul>
            <li>
                <a href="https://clinicalgenome.org/about/organizations/baylor-college-of-medicine/">
                    The Baylor College of Medicine ClinGen Team
                </a>
            </li>
            <li>
                <a href="https://www.clinpgx.org/">
                    ClinPGx
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
