{% extends "core/layouts/page.html" %}
{% block title %}Contact{% endblock %}
{% block description %}Contact the maintainers of the HLA Curation
    Interface.{% endblock %}
{% block heading %}Contact{% endblock %}
{% block content %}
    <div class="block">
        <p>
            If you need to contact the maintainers of the HCI, email
            <a href="mailto:helpdesk@clinicalgenome.org">helpdesk@clinicalgenome.org</a>
            with "HCI" in the subject.
        </p>
    </div>
{% endblock %}
