{% extends "layouts/base.html" %}
{% block title %}Home{% endblock %}
{% block description %}Curate information about HLA alleles and haplotypes.{% endblock %}
{% block main %}
    <div class="block mt-6">
        <section class="hero is-light">
            <div class="hero-body">
                <p class="title">HLA Curation Interface</p>
                {% if request.user.is_authenticated %}
                    <p class="subtitle">You are logged in as {{ request.user.email }}.</p>
                {% else %}
                    <p class="subtitle">You are not logged in.</p>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
