{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block description %}Curate information about HLA alleles and haplotypes.{% endblock %}
{% block main %}
    <div class="block mt-6">
        <section class="hero is-light">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-1">
                        <img src="{% static 'hci/img/hci-logo-circle.png' %}" alt="The HCI logo.">
                    </div>
                    <div class="column">
                        <p class="title">HLA Curation Interface</p>
                        {% if user.is_authenticated %}
                            <p class="subtitle">You are logged in as {{ user.email }}.</p>
                        {% else %}
                            <p class="subtitle">You are not logged in.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="block mt-6 ">
        <div class="fixed-grid has-5-cols has-text-centered">
            <div class="grid">
                <div class="cell">
                    <a href="{% url 'allele-search' %}" class="button" id="search-button">
                        {% include "common/icon.html" with icon_name="search" %}
                        Search Alleles
                    </a>
                </div>
                <div class="cell">
                    <a href="{% url 'haplotype-search' %}" class="button" id="search-button">
                        {% include "common/icon.html" with icon_name="search" %}
                        Search Haplotypes
                    </a>
                </div>
                <div class="cell">
                    <a href="{% url 'disease-search' %}" class="button" id="search-button">
                        {% include "common/icon.html" with icon_name="search" %}
                        Search Diseases
                    </a>
                </div>
                <div class="cell">
                    <a href="{% url 'publication-search' %}" class="button" id="search-button">
                        {% include "common/icon.html" with icon_name="search" %}
                        Search Publications
                    </a>
                </div>
                <div class="cell">
                    <a href="{% url 'curation-search' %}" class="button" id="search-button">
                        {% include "common/icon.html" with icon_name="search" %}
                        Search Curations
                    </a>
                </div>
                <div class="cell">
                    <a href="{% url 'allele-create' %}" class="button" id="plus-circle-button">
                        {% include "common/icon.html" with icon_name="plus-circle" %}
                        Add Allele
                    </a>
                </div>
                <div class="cell">
                    <a href="{% url 'haplotype-create' %}" class="button" id="plus-circle-button">
                        {% include "common/icon.html" with icon_name="plus-circle" %}
                        Add Haplotype
                    </a>
                </div>
                <div class="cell">
                    <a href="{% url 'disease-create' %}" class="button" id="plus-circle-button">
                        {% include "common/icon.html" with icon_name="plus-circle" %}
                        Add Disease
                    </a>
                </div>
                <div class="cell">
                    <a href="{% url 'publication-create' %}" class="button" id="plus-circle-button">
                        {% include "common/icon.html" with icon_name="plus-circle" %}
                        Add Publication
                    </a>
                </div>
                <div class="cell">
                    <a href="{% url 'curation-create' %}" class="button" id="plus-circle-button">
                        {% include "common/icon.html" with icon_name="plus-circle" %}
                        Add Curation
                    </a>
                </div>
            </div>
        </div>
        <div class="mt-6 mb-6">
            {% if user.is_authenticated %}
                {% if user.curations_added.all %}
                    <h1 class="title">Your Curations</h1>
                    <div class="block table-container">
                        <table class="table is-fullwidth is-hoverable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Allele</th>
                                    <th>Haplotype</th>
                                    <th>Disease</th>
                                    <th>Status</th>
                                    <th>Added</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for curation in user.curations_added.all %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'curation-detail' curation.slug %}"
                                               class="button is-small"
                                            >
                                                {% include "common/icon.html" with icon_name="eye" %}
                                                {{ curation.slug }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ curation.allele|default:"------" }}
                                        </td>
                                        <td>
                                            {{ curation.haplotype|default:"------" }}
                                        </td>
                                        <td>
                                            {{ curation.disease }}
                                        </td>
                                        <td>
                                            {% if curation.status == "INP" %}
                                                {% include "common/tags/in_progress.html" %}
                                            {% elif curation.status == "DNE" %}
                                                {% include "common/tags/done.html" %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ curation.added_at|date:"Y-m-d" }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% else %}
                <div class="box">
                    <p class="has-text-centered">
                        <a href="{% url 'login' %}">Log in</a> to curate.
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
