{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block description %}Curate information about HLA alleles and haplotypes.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <b>
                        <a href="{% url 'home' %}">
                            {% include "common/icon.html" with icon_name="house" %}
                            Home
                        </a>
                    </b>
                </li>
            </ul>
        </nav>

        <h1 class="title">HLA Curation Interface</h1>
        {% if user.is_authenticated %}
            <p class="subtitle">You are logged in as {{ user.email }}.</p>
        {% else %}
            <p class="subtitle">You are not logged in.</p>
        {% endif %}

        <div class="block table-container">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="{% url 'allele-list' %}">
                                {% include "common/icon.html" with icon_name="search" %}
                                Allele Search
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'allele-create' %}">
                                {% include "common/icon.html" with icon_name="plus-circle" %}
                                Add Allele
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'haplotype-list' %}">
                                {% include "common/icon.html" with icon_name="search" %}
                                Haplotype Search
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'haplotype-create' %}">
                                {% include "common/icon.html" with icon_name="plus-circle" %}
                                Add Haplotype
                            </a>
                        </td>
                    <tr>
                        <td>
                            <a href="{% url 'disease-list' %}">
                                {% include "common/icon.html" with icon_name="search" %}
                                Disease Search
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'disease-create' %}">
                                {% include "common/icon.html" with icon_name="plus-circle" %}
                                Add Disease
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'publication-list' %}">
                                {% include "common/icon.html" with icon_name="search" %}
                                Publication Search
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'publication-create' %}">
                                {% include "common/icon.html" with icon_name="plus-circle" %}
                                Add Publication
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'curation-list' %}">
                                {% include "common/icon.html" with icon_name="search" %}
                                Curation Search
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'curation-create' %}">
                                {% include "common/icon.html" with icon_name="plus-circle" %}
                                Add Curation
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if user.is_authenticated and user.curations_added.all %}
            <hr>
            <h2 class="title is-4">Your Curations</h2>
            {% include "curation/partials/table.html" with curations=user.curations_added.all %}
        {% endif %}
    </div>

{% endblock %}