<div class="buttons">
    <a href="{% url 'curation-search' %}" class="button" id="search-button">
        {% include "common/icon.html" with icon_name="search" %}
        Search Curations
    </a>
    {% if object.status == "DNE" and not object.publication %}
        <a href="{% url 'curation-publish' object.slug %}"
           class="button is-success"
           id="publish-button"
           onclick="return confirm('Are you sure you want to publish this curation to the repository? This will make it read-only.');">
            {% include "common/icon.html" with icon_name="upload" %}
            Publish to Repository
        </a>
    {% elif object.publication %}
        <a href="{% url 'repo-detail' object.slug %}"
           class="button is-link"
           id="view-published-button">
            {% include "common/icon.html" with icon_name="book" %}
            View in Repository
        </a>
    {% endif %}
    <a href="{% url 'curation-create' %}" class="button" id="add-button">
        {% include "common/icon.html" with icon_name="plus-circle" %}
        Add Another Curation
    </a>
</div>
