<h1 class="title">Curation Details</h1>
<a href="{% url 'curation-edit' object.pk %}" class="button" id="edit-curation-button">
    {% include "common/icon.html" with icon_name="pencil" %}
    Edit
</a>
<div class="block table-container mt-4">
    <table class="table is-hoverable">
        <tbody>
        {% if object.curation_type == "ALL" %}
            <tr>
                <td>Allele</td>
                <td id="allele">{{ object.allele }}</td>
            </tr>
        {% elif object.curation_type == "HAP" %}
            <tr>
                <td>Haplotype</td>
                <td id="haplotype">{{ object.haplotype }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>Disease</td>
            <td id="disease">{{ object.disease }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td id="status">
                {% if object.status == "INP" %}
                    {% include "common/tags/in_progress.html" %}
                {% elif object.status == "DNE" %}
                    {% include "common/tags/done.html" %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Classification</td>
            <td id="classification">
                {% if object.classification == "DEF" %}
                    <span class="tag">Definitive</span>
                {% elif object.classification == "STR" %}
                    <span class="tag">Strong</span>
                {% elif object.classification == "MOD" %}
                    <span class="tag">Moderate</span>
                {% elif object.classification == "LIM" %}
                    <span class="tag">Limited</span>
                {% elif object.classification == "NOK" %}
                    <span class="tag">No Known Association</span>
                {% elif object.classification == "DIS" %}
                    <span class="tag">Disputed</span>
                {% elif object.classification == "REF" %}
                    <span class="tag">Refuted</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Score</td>
            <td id="score">{{ object.score }}</td>
        </tr>
        <tr>
            <td>HCI Curation ID</td>
            <td id="curation-id">{{ object.pk }}</td>
        </tr>
        <tr>
            <td>Added</td>
            <td id="added-at">{{ object.added_at|date:"Y-m-d" }}</td>
        </tr>
        </tbody>
    </table>
</div>
