<h1 class="title">Curation Details</h1>
<div class="block table-container">
    <table class="table">
        <tbody>
        {% if object.curation_type == "ALL" %}
            <tr>
                <td>Allele</td>
                <td id="allele">{{ object.allele }}</td>
            </tr>
        {% elif object.curation_type == "HAP" %}
            <tr>
                <td>Haplotype</td>
                <td id="haplotype">{{ object.haplotype }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>Disease</td>
            <td id="disease">{{ object.disease }}</td>
        </tr>
        <tr>
            <td>Score</td>
            <td id="score">{{ object.score }}</td>
        </tr>
        <tr>
            <td>HCI Curation ID</td>
            <td id="curation-id">{{ object.pk }}</td>
        </tr>
        <tr>
            <td>Added</td>
            <td id="added-at">{{ object.added_at|date:"Y-m-d" }}</td>
        </tr>
        </tbody>
    </table>
</div>
