{% load custom_filters %}
<div id="datatable-content" >
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li class="is-active">
                    <a href="" aria-current="page">
                        Curations
                    </a>
                </li>
            </ul>
        </nav>

        <h1 class="title" id="main-heading">Search {{ data_title }}</h1>
        {% include "datatable/partials/number.html" %}
        {% include "datatable/partials/pagination.html" %}
        {% include "datatable/partials/clear.html" %}
        <div class="table-container">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    {% for field in fields %}
                        {% if field.type == "search" %}
                            <th>{% include "datatable/partials/queries/search.html" %}</th>
                        {% elif field.type == "sort" %}
                            <th>{% include "datatable/partials/queries/sort.html" %}</th>
                        {% elif field.type == "filter" %}
                            <th>{% include "datatable/partials/queries/filter.html" %}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% if page %}
                    {% for object in page.object_list %}
                        <tr>
                            {% for field in fields %}
                                {% with value=object|get_val:field.param_name %}
                                    {% if field.param_name == "slug" %}
                                        <td>
                                            <a hx-boost="true" class="button is-small" href="{% url 'curation-detail' value %}">
                                                {% include "common/icon.html" with icon_name="eye" %}
                                                {{ value }}
                                            </a>
                                        </td>
                                    {% elif field.param_name == "curation_type" %}
                                        <td>
                                        <span class="tag">
                                            {% include "common/icon.html" with icon_name="card-checklist" %}
                                            {% if value == "ALL" %}
                                                Allele
                                            {% elif value == "HAP" %}
                                                Haplotype
                                            {% endif %}
                                        </span>
                                        </td>

                                    {% elif field.param_name == "allele" %}
                                        <td>
                                            {{ value|default:"------" }}
                                        </td>
                                    {% elif field.param_name == "haplotype" %}
                                        <td>
                                            {{ value|default:"------" }}
                                        </td>
                                    {% elif field.param_name == "status" %}
                                        <td>
                                            {% if value == "INP" %}
                                                {% include "common/tags/in_progress.html" %}
                                            {% elif value == "DNE" %}
                                                {% include "common/tags/done.html" %}
                                            {% endif %}
                                            {% if object.publication %}
                                                {% include "common/tags/published.html" %}
                                            {% endif %}
                                        </td>
                                    {% elif field.param_name == "added_at" %}
                                        <td>
                                            {{ value|date:"Y-m-d H:i" }}
                                        </td>
                                    {% else %}
                                        <td>{{ value }}</td>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="{{ fields|length }}">No results.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        {% include "datatable/partials/pagination.html" %}
    </div>
</div>
