<table id="curation-list-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Allele</th>
            <th>Haplotype</th>
            <th>Disease</th>
            <th>Status</th>
            <th>Classification</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        {% for curation in curations %}
            <tr>
                <td>
                    <a href="{% url 'curation-detail' curation.slug %}">
                        {{ curation.slug|default_if_none:"------" }}
                    </a>
                </td>
                <td>{{ curation.get_curation_type_display|default_if_none:"------" }}</td>
                <td>{{ curation.allele|default_if_none:"------" }}</td>
                <td>{{ curation.haplotype|default_if_none:"------" }}</td>
                <td>{{ curation.disease|default_if_none:"------" }}</td>
                <td>
                    {{ curation.get_status_display|default_if_none:"------" }}
                </td>
                <td>
                    {% if curation.ep_classification %}
                        {{ curation.get_ep_classification_display }}
                    {% else %}
                        {% with sc=curation.suggested_classification %}
                            {% if sc == "DEF" %}Definitive
                            {% elif sc == "STR" %}Strong
                            {% elif sc == "MOD" %}Moderate
                            {% elif sc == "LIM" %}Limited
                            {% elif sc == "NOK" %}No Known Association
                            {% elif sc == "DIS" %}Disputed
                            {% elif sc == "REF" %}Refuted
                            {% else %}------
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </td>
                <td>{{ curation.updated_at|default_if_none:"------"|date:"Y-m-d" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    let curationListTable = new DataTable("#curation-list-table", {"order": []});
</script>
