{% extends "layouts/base.html" %}
{% block title %}Add Curation{% endblock %}
{% block description %}Add a curation to the HLA Curation Interface.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">
        <h1 class="title">Add Curation</h1>
        <form method="post">{% csrf_token %}
            {{ form.non_field_errors }}
            {% with field=form.curation_type %}
                {% include "common/form/input_radio.html" %}
            {% endwith %}
            {% with field=form.allele %}
                {% include "common/form/select_single_search.html" %}
            {% endwith %}
            <button type="submit" class="button is-link">
                Submit
            </button>
        </form>
    </div>
{% endblock %}
