{% extends "layouts/base.html" %}
{% block title %}Curation #{{ object.pk }} Details{% endblock %}
{% block description %}View information about curation #{{ object.pk }}.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'curation-search' %}">
                        Curations
                    </a>
                </li>
                <li class="is-active">
                    <a href="" aria-current="page">
                        Curation #{{ object.pk }}
                    </a>
                </li>
            </ul>
        </nav>
        <h1 class="title">Curation Details</h1>
        <div class="block table-container">
            <table class="table">
                <tbody>
                    {% if object.curation_type == "ALL" %}
                        <tr>
                            <td>Allele</td>
                            <td id="allele">{{ object.allele }}</td>
                        </tr>
                    {% elif object.curation_type == "HAP" %}
                        <tr>
                            <td>Haplotype</td>
                            <td id="haplotype">{{ object.haplotype }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>HCI Curation ID</td>
                        <td>{{ object.pk }}</td>
                    </tr>
                    <tr>
                        <td>Added</td>
                        <td id="added-at">{{ object.added_at|date:"Y-m-d" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="buttons">
            <a href="{% url 'curation-search' %}" class="button" id="search-button">
                {% include "common/icon.html" with icon_name="search" %}
                Search Curations
            </a>
            <a href="{% url 'curation-create' %}" class="button" id="add-button">
                {% include "common/icon.html" with icon_name="plus-circle" %}
                Add Another Curation
            </a>
        </div>

    </div>

    <div class="box mt-6 mb-6">
        <h1 class="title">Evidence</h1>
        <div class="buttons">
            <a href="" class="button" id="add-evidence-button">
                {% include "common/icon.html" with icon_name="pencil" %}
                Edit
            </a>
            <a href="{% url 'evidence-create' object.pk %}" class="button" id="add-evidence-button">
                {% include "common/icon.html" with icon_name="plus-circle" %}
                Add Evidence
            </a>
        </div>
        {% if object.evidence.all %}
            <div class="block table-container mt-4">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Publication</th>
                            <th>Conflicting</th>
                            <th>Included</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evidence in object.evidence.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'evidence-detail' curation_pk=object.pk evidence_pk=evidence.pk %}">
                                        #{{ evidence.pk }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'publication-detail' evidence.publication.pk %}">
                                        {{ evidence.publication }}
                                    </a>
                                </td>
                                <td>
                                    <label class="checkbox" disabled>
                                        {% if evidence.is_conflicting %}
                                            <input type="checkbox" disabled checked/>
                                        {% else %}
                                            <input type="checkbox" disabled />
                                        {% endif %}
                                    </label>
                                </td>
                                <td>
                                    <label class="checkbox" disabled>
                                        {% if evidence.is_included %}
                                            <input type="checkbox" disabled checked/>
                                        {% else %}
                                            <input type="checkbox" disabled />
                                        {% endif %}
                                    </label>
                                </td>
                                <td>{{ evidence.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
