{% extends "layouts/base.html" %}
{% block title %}Curation #{{ object.pk }} Details{% endblock %}
{% block description %}View information about curation #{{ object.pk }}.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'curation-search' %}">
                        Curations
                    </a>
                </li>
                <li class="is-active">
                    <a href="" aria-current="page">
                        Curation #{{ object.pk }}
                    </a>
                </li>
            </ul>
        </nav>
        {% include "curation/partials/details_table.html" %}
        {% include "curation/partials/buttons.html" %}
    </div>

    <div class="box mt-6 mb-6">
        <h1 class="title">Evidence</h1>
        <div class="buttons">
            {% if object.evidence.all %}
                <a href="{% url 'curation-edit' object.pk %}"
                   class="button"
                   id="edit-button"
                >
                    {% include "common/icon.html" with icon_name="pencil" %}
                    Edit
                </a>
            {% endif %}
            <a href="{% url 'evidence-create' object.pk %}"
               class="button"
               id="add-evidence-button"
            >
                {% include "common/icon.html" with icon_name="plus-circle" %}
                Add Evidence
            </a>
        </div>
        {% if object.evidence.all %}
            <div class="block table-container mt-4">
                <table class="table is-fullwidth" id="evidence-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Publication</th>
                            <th>Status</th>
                            <th>Conflicting</th>
                            <th>Included</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evidence in object.evidence.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'evidence-detail' curation_pk=object.pk evidence_pk=evidence.pk %}">
                                        #{{ evidence.pk }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'publication-detail' evidence.publication.pk %}">
                                        {{ evidence.publication }}
                                    </a>
                                </td>
                                <td>
                                    {% if evidence.status == "INP" %}
                                        <span class="tag is-info is-light">
                                            In Progress
                                        </span>
                                    {% elif evidence.status == "DNE" %}
                                        <span class="tag is-success is-light">
                                            Done
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    <label class="checkbox" disabled>
                                        {% if evidence.is_conflicting %}
                                            <input type="checkbox" disabled checked/>
                                        {% else %}
                                            <input type="checkbox" disabled />
                                        {% endif %}
                                    </label>
                                </td>
                                <td>
                                    <label class="checkbox" disabled>
                                        {% if evidence.is_included %}
                                            <input type="checkbox" disabled checked/>
                                        {% else %}
                                            <input type="checkbox" disabled />
                                        {% endif %}
                                    </label>
                                </td>
                                <td>{{ evidence.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
