{% extends "layouts/base.html" %}
{% block title %}Curation #{{ curation.pk }} Edit{% endblock %}
{% block description %}Edit information about curation #{{ curation.pk }}.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'curation-search' %}">
                        Curations
                    </a>
                </li>
                <li>
                    <a href="{% url 'curation-detail' curation.pk %}">
                        Curation #{{ curation.pk }}
                    </a>
                </li>
                <li class="is-active">
                    <a href="" aria-current="page">
                        Edit Evidence
                    </a>
                </li>
            </ul>
        </nav>
        {% include "curation/partials/details_table.html" with object=curation %}
        {% include "curation/partials/buttons.html" %}
    </div>

    <div class="box mt-6 mb-6">
        <form method="post">{% csrf_token %}
            {{ evidence_formset.management_form }}
            <h1 class="title">Edit Evidence</h1>
            <div class="buttons">
                <button type="submit" class="button is-link" id="save-edit-button">
                    Save
                </button>
                <a href="{% url 'curation-detail' curation.pk %}" class="button is-link is-light" id="cancel-edit-button">
                    Cancel
                </a>
            </div>
            <div class="block table-container mt-4">
                <table class="table is-fullwidth" id="evidence-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Publication</th>
                            <th>Status</th>
                            <th>Conflicting</th>
                            <th>Included</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in evidence_formset %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <tr>
                                <td>
                                    <a href="{% url 'evidence-detail' curation_pk=curation.pk evidence_pk=form.instance.pk %}">
                                        #{{ form.instance.pk }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'publication-detail' form.instance.publication.pk %}">
                                        {{ form.instance.publication }}
                                    </a>
                                </td>
                                {% for field in form.visible_fields %}
                                    <td>
                                        {% if field.errors %}
                                            <div class="has-text-danger">{{ field.errors }}</div>
                                        {% endif %}
                                        <div class="field">
                                            <div class="control">
                                                {% if field.widget_type == "select" %}
                                                    <div class="select is-small">
                                                        {{ field }}
                                                    </div>
                                                {% else %}
                                                    {{ field }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                {% endfor %}
                                <td>
                                    {{ form.instance.score }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
{% endblock %}
