{% extends "layouts/base.html" %}
{% block title %}Curation Search{% endblock %}
{% block description %}View a list of curations in the HLA Curation Interface.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        {% include "common/icon.html" with icon_name="house" %}
                        Home
                    </a>
                </li>
                <li class="is-active">
                    <b>
                        <a href="" aria-current="page">
                            {% include "common/icon.html" with icon_name="search" %}
                            Curation Search
                        </a>
                    </b>
                </li>
            </ul>
        </nav>

        {% include "curation/partials/table.html" with curations=object_list %}

        <a href="{% url 'curation-create' %}" class="button is-link">
            {% include "common/icon.html" with icon_name="plus-circle" %}
            Add Curation
        </a>
    </div>
{% endblock %}
