{% load custom_filters %}
<label for="filter-{{ field.id }}-select"
       {% with param=request.GET|get_item:field.param_name %}
           {% if param and param != field.default_value %}
               class="label has-text-info"
           {% else %}
               class="label"
           {% endif %}
       {% endwith  %}
>
    {{ field.text }}
</label>
<div class="control">
    <div class="select is-small">
        <select class="hx-include"
                {% include "datatable/partials/htmx/attrs.html" %}
                {% include "datatable/partials/htmx/sort.html" %}
                name="{{ field.param_name }}"
                id="filter-{{ field.id }}-select"
        >
            {% for option in field.options %}
                <option value="{{ option }}"
                        {% if request.GET|get_item:field.param_name == option %}
                            selected
                        {% endif %}
                >
                    {{ option|capfirst }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
