{% extends "layouts/base.html" %}
{% load static %}
{% block title %}Haplotype #{{ object.pk }} Details{% endblock %}
{% block description %}View information about haplotype #{{ object.pk }}.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'haplotype-search' %}">
                        Haplotypes
                    </a>
                </li>
                <li class="is-active">
                    <a href="" aria-current="page">
                        Haplotype #{{ object.pk }}
                    </a>
                </li>
            </ul>
        </nav>

        <div class="level">
            <div class="level-left">
                <h1 class="title">Haplotype Details</h1>
            </div>
        </div>

        <h2 class="subtitle"><i id="haplotype-{{ object.pk }}-name">{{ object.name }}</i></h2>

        <div class="block table-container">
            <table class="table is-hoverable">
                <tbody>
                <tr>
                    <td>HCI Haplotype ID</td>
                    <td>{{ object.pk }}</td>
                </tr>
                <tr>
                    <td>Added</td>
                    <td id="haplotype-{{ object.pk }}-added-at">{{ object.added_at|date:"Y-m-d" }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="buttons">
            <a href="{% url 'haplotype-search' %}" class="button" id="search-button">
                {% include "common/icon.html" with icon_name="search" %}
                Search Haplotypes
            </a>
            <a href="{% url 'haplotype-create' %}" class="button" id="add-button">
                {% include "common/icon.html" with icon_name="plus-circle" %}
                Add Another Haplotype
            </a>
        </div>

        {% if object.alleles.all %}
            <div class="mt-6">
                <h1 class="title is-4">Alleles</h1>
                <table class="table is-hoverable">
                    {% for allele in object.alleles.all %}
                        <tr>
                            <td>
                                <a id="allele-{{ allele.pk }}-anchor"
                                   href="{% url 'allele-detail' allele.pk %}"
                                >
                                    #{{ allele.pk }}
                                </a>
                            </td>
                            <td id="allele-{{ allele.pk }}-name">
                                {{ allele.name }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
