<div class="block table-container mt-4">
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Genome-Wide Association Study (GWAS)</td>
                <td>{{ object.is_gwas }}</td>
                <td>{{ object.is_gwas_notes }}</td>
            </tr>
            <tr>
                <td>Zygosity</td>
                <td>
                    {% if object.zygosity == "MO" %}
                        Monoallelic (heterozygous)
                    {% elif object.zygosity == "BI" %}
                        Biallelic (homozygous)
                    {% endif %}
                </td>
                <td>{{ object.zygosity_notes }}</td>
            </tr>
            <tr>
                <td>Phase Confirmed</td>
                <td>{{ object.phase_confirmed }}</td>
                <td>{{ object.phase_confirmed_notes }}</td>
            </tr>
        </tbody>
    </table>
</div>
