<div class="block table-container mt-4">
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Scoring Step</th>
                <th>Category</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% if object.score_step_1a is None %}
                        <span class="tag is-warning is-light">
                            {% include "common/icon.html" with icon_name="cone-striped" %}
                            Step 1A: Allele or Haplotype
                        </span>
                    {% else %}
                        <span class="tag is-success is-light">
                            {% include "common/icon.html" with icon_name="check-circle-fill" %}
                            Step 1A: Allele or Haplotype
                        </span>
                    {% endif %}
                </td>
                <td>Allele</td>
                <td {% if object.score_step_1a == 0 %}class="is-success"{% endif %}>0</td>
            </tr>
            <tr>
                <td></td>
                <td>Haplotype</td>
                <td {% if object.score_step_1a == 2 %}class="is-success"{% endif %}>2</td>
            </tr>
            <tr>
                <td>
                    {% if object.score_step_1b is None %}
                        <span class="tag is-warning is-light">
                            {% include "common/icon.html" with icon_name="cone-striped" %}
                            Step 1B: Allele Resolution
                        </span>
                    {% else %}
                        <span class="tag is-success is-light">
                            {% include "common/icon.html" with icon_name="check-circle-fill" %}
                            Step 1B: Allele Resolution
                        </span>
                    {% endif %}
                </td>
                <td>1-field (see Step 6B)</td>
                <td>0</td>
            </tr>
            <tr>
                <td></td>
                <td>2-field</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>
