<div class="block table-container mt-4">
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Scoring Step</th>
                <th>Category</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Step 1A: Allele or Haplotype</td>
                <td>Allele</td>
                <td {% if object.score_step_1a == 0 %}class="is-info"{% endif %}>0</td>
            </tr>
            <tr>
                <td></td>
                <td>Haplotype</td>
                <td {% if object.score_step_1a == 2 %}class="is-info"{% endif %}>2</td>
            </tr>
            <tr>
                <td>Step 1B: Allele Resolution</td>
                <td>1-field (see Step 6B)</td>
                <td>0</td>
            </tr>
            <tr>
                <td></td>
                <td>2-field</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>
