{% load static %}
<!doctype html>
<html lang="en" hx-headers='{"X-CSRF-TOKEN": "{{ csrf_token }}"}'>
<head>
    <title>HCI | {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="{% static 'hci/css/bulma.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'hci/css/custom.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'hci/css/bootstrap-icons.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'hci/css/choices.min.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'hci/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'hci/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'hci/img/favicon-16x16.png' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'hci/img/favicon.ico' %}">
    <link rel="manifest" href="{% static 'hci/site.webmanifest' %}">
    <script src="{% static 'hci/js/htmx.js' %}"></script>
    <script src="{% static 'hci/js/firebase.js' %}"></script>
    <script src="{% static 'hci/js/choices.min.js' %}"></script>
</head>
<body>
<header>
    <div class="container">
        {% include "partials/navbar.html" %}
    </div>
</header>
<main>
    <div class="container">
        <div id="message-container">
            {% include "partials/messages.html" %}
        </div>
        {% block main %}{% endblock %}
    </div>
</main>
<footer>
    <div class="container">
        {% include "partials/footer.html" %}
    </div>
</footer>
</body>
</html>
