{% load django_htmx %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HCI | {% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
        {% component_css_dependencies %}
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        {% htmx_script %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-boost="true" class="container">
        {% include "includes/nav.html" %}
        <section class="section">
            <div class="container">
                {% include "includes/messages.html" %}
                {% block content %}{% endblock %}
            </div>
        </section>
        <script>
            // This is required for the icons to work.
            feather.replace();
        </script>
        {% component_js_dependencies %}
    </body>
    {% include "includes/footer.html" %}
</html>