{% extends "layouts/base.html" %}
{% block title %}{{ allele.descriptor }} Allele Details{% endblock %}
{% block description %}The details page for {{ allele.descriptor }} in the HLA curation interface.{% endblock %}
{% block content %}
    <div class="block">
        <h1 class="title">Allele Details</h1>
        <h2 class="subtitle">{{ allele.descriptor }}</h2>
        <div class="block">
            <table class="table">
                <tbody>
                <tr>
                    <td>Descriptor</td>
                    <td>{{ allele.descriptor }}</td>
                </tr>
                <tr>
                    <td>ClinGen Allele Registry ID</td>
                    <td>{{ allele.car_id }}</td>
                </tr>
                <tr>
                    <td>ClinGen Allele Registry URL</td>
                    <td><a href="{{ allele.car_url }}">{% include "includes/icon.html" with name="external-link" %} {{ allele.car_id }}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
