<div class="block table-container mt-4">
    <table class="table">
        <tbody>
        <tr>
            <td>HCI Curation ID</td>
            <td>{{ curation.slug }}</td>
        </tr>
        {% if curation.curation_type == "ALL" %}
            <tr>
                <td>Allele</td>
                <td>
                    {{ curation.allele }}
                    {% if curation.allele.car_id %}
                        ({% with url="https://reg.clinicalgenome.org/allele/ui/hla/id/"|add:curation.allele.car_id text=curation.allele.car_id %}{% include "common/linkout.html" %}{% endwith %})
                    {% endif %}
                </td>
            </tr>
        {% elif curation.curation_type == "HAP" %}
            <tr>
                <td>Haplotype</td>
                <td>
                    {{ curation.haplotype }}
                    <ul>
                        {% for allele in curation.haplotype.alleles.all %}
                            <li>
                                {{ allele }}
                                {% if allele.car_id %}
                                    ({% with url="https://reg.clinicalgenome.org/allele/ui/hla/id/"|add:allele.car_id text=allele.car_id %}{% include "common/linkout.html" %}{% endwith %})
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>Disease</td>
            <td>
                {{ curation.disease }}
                {% if curation.disease.iri %}
                    ({% with url=curation.disease.iri text=curation.disease.mondo_id %}{% include "common/linkout.html" %}{% endwith %})
                {% elif curation.disease.mondo_id %}
                    ({{ curation.disease.mondo_id }})
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Classification</td>
            <td>{% include "curation/partials/classification.html" %}</td>
        </tr>
        <tr>
            <td>Expert Panel</td>
            <td>{{ curation.ep|default:"------" }}</td>
        </tr>
        <tr>
            <td>Review Date</td>
            <td>{{ curation.ep_review_date|date:"Y-m-d"|default:"------" }}</td>
        </tr>
        <tr>
            <td>Published</td>
            <td>{{ published.published_at|date:"Y-m-d" }}</td>
        </tr>
        </tbody>
    </table>
</div>

<h2 class="title is-4">Evidence Summary</h2>
<p class="block">{{ curation.ep_evidence_summary|default:"------"|linebreaksbr }}</p>

<h3 class="title is-5">Additional Notes</h3>
<p class="block">{{ curation.ep_additional_notes|default:"------"|linebreaksbr }}</p>
