{% extends "layouts/base.html" %}
{% block title %}Add Publication{% endblock %}
{% block description %}Add a publication to the HLA Curation Interface.{% endblock %}
{% block main %}
    <div class="box mt-6 mb-6">
        <h1 class="title">Add Publication</h1>
        <form method="post">{% csrf_token %}
            {{ form.non_field_errors }}
            {% with field=form.publication_type %}
                {% include "partials/form/input_radio.html" %}
            {% endwith %}
            {% with field=form.pubmed_id %}
                {% include "partials/form/input_text.html" %}
            {% endwith %}
            {% with field=form.doi %}
                {% include "partials/form/input_text.html" %}
            {% endwith %}
            <button type="submit" class="button is-link">
                Submit
            </button>
        </form>
    </div>
{% endblock %}
