{% load static %}
<footer class="footer">
    <div class="columns">
        <div class="column">
            <a href="https://clinicalgenome.org/">
                <img src="{% static 'clingen-logo-with-text.svg' %}"  alt="The ClinGen logo with 'Clinical Genome Resource' text underneath."/>
            </a>
        </div>
        <div class="column">
            <a href="https://www.stanford.edu/">
                <img src="{% static 'stanford-logo.png' %}"  alt="The Stanford University logo."/>
            </a>
        </div>
        <div class="column">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li><a href="#">Downloads</a></li>
                <li><a href="#">Citing</a></li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li><a href="#">Acknowledgements</a></li>
                <li><a href="#">Collaborators</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="content is-small">
        <p>&copy; 2025 ClinGen</p>
        <p>
            The development and maintenance of the HCI is financially supported by
            NIH/NHGRI. It is managed at Stanford University (insert grant here).
        </p>
        <p>
            HCI data are subject to the
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons CC BY-SA 4.0</a>
            license.
        </p>
        <p>
            The HCI is an open-source project. View the
            <a href="https://github.com/ClinGen/hla-curation-interface">source code</a>.
            The source code is subject to the
            <a href="https://opensource.org/license/MIT">MIT License</a>.
        </p>
    </div>
</footer>