{% if messages %}
    {% for message in messages %}
        {% if "debug" in message.tags %}
            <div class="block">
                <article class="message">
                    <div class="message-header">
                        <p>{% include "includes/icon.html" with name="tool" %}Debug</p>
                        <button hx-on-click="this.closest('.block').remove()" class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
            </div>
        {% elif "info" in message.tags %}
            <div class="block">
                <article class="message is-info">
                    <div class="message-header">
                        <p>{% include "includes/icon.html" with name="info" %}Info</p>
                        <button hx-on-click="this.closest('.block').remove()" class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
            </div>
        {% elif "success" in message.tags %}
            <div class="block">
                <article class="message is-success">
                    <div class="message-header">
                        <p>{% include "includes/icon.html" with name="star" %}Success</p>
                        <button hx-on-click="this.closest('.block').remove()" class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
            </div>
        {% elif "warning" in message.tags %}
            <div class="block">
                <article class="message is-warning">
                    <div class="message-header">
                        <p>{% include "includes/icon.html" with name="alert-circle" %}Warning</p>
                        <button hx-on-click="this.closest('.block').remove()" class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
            </div>
        {% elif "error" in message.tags %}
            <div class="block">
                <article class="message is-danger">
                    <div class="message-header">
                        <p>{% include "includes/icon.html" with name="alert-triangle" %}Error</p>
                        <button hx-on-click="this.closest('.block').remove()" class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
