{% load static %}
<nav class="navbar block" role="navigation" aria-label="main navigation">
    <div class="navbar-start container">
        <a href="/"
           {% if request.resolver_match.view_name == 'home' %}class="navbar-item has-text-weight-bold"{% endif %}
           class="navbar-item">
            <img src="{% static 'hci-logo.png' %}"  alt="The HCI logo. It looks conspicuously similar to the DNA emoji."/>
            Home
        </a>
        <!--
        We don't boost these links because they go to views that will render a
        partial template if they see the HTMX `HX-Request` header set to `true`.
        -->
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Curations</a>
            <div class="navbar-dropdown">
                <a href="{% url 'list_allele_curation' %}"
                   hx-boost="false"
                   {% if request.resolver_match.view_name == 'list_allele_curation' %}class="navbar-item has-text-weight-bold"{% endif %}
                   class="navbar-item">Search
                </a>
                <a href="{% url 'new_allele_curation' %}"
                   {% if request.resolver_match.view_name == 'new_allele_curation' %}class="navbar-item has-text-weight-bold"{% endif %}
                   class="navbar-item">New
                </a>
            </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Diseases</a>
            <div class="navbar-dropdown">
                <a href="{% url 'list_mondo' %}"
                   hx-boost="false"
                   {% if request.resolver_match.view_name == 'list_mondo' %}class="navbar-item has-text-weight-bold"{% endif %}
                   class="navbar-item">Search
                </a>
                <a href="{% url 'new_mondo' %}"
                   {% if request.resolver_match.view_name == 'new_mondo' %}class="navbar-item has-text-weight-bold"{% endif %}
                   class="navbar-item">New
                </a>
            </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Alleles</a>
            <div class="navbar-dropdown">
                <a href="{% url 'list_allele' %}"
                   hx-boost="false"
                   {% if request.resolver_match.view_name == 'list_allele' %}class="navbar-item has-text-weight-bold"{% endif %}
                   class="navbar-item">Search
                </a>
                <a href="{% url 'new_allele' %}"
                   {% if request.resolver_match.view_name == 'new_allele' %}class="navbar-item has-text-weight-bold"{% endif %}
                   class="navbar-item">New
                </a>
            </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Haplotypes</a>
            <div class="navbar-dropdown">
                <a href="{% url 'list_haplotype' %}"
                   hx-boost="false"
                   {% if request.resolver_match.view_name == 'list_haplotype' %}class="navbar-item has-text-weight-bold"{% endif %}
                   class="navbar-item">Search
                </a>
                <a href="{% url 'new_haplotype' %}"
                   {% if request.resolver_match.view_name == 'new_haplotype' %}class="navbar-item has-text-weight-bold"{% endif %}
                   class="navbar-item">New
                </a>
            </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Publications</a>
            <div class="navbar-dropdown">
                <a href="{% url 'list_pubmed' %}"
                   hx-boost="false"
                   {% if request.resolver_match.view_name == 'list_pubmed' %}class="navbar-item has-text-weight-bold"{% endif %}
                   class="navbar-item">Search
                </a>
                <a href="{% url 'new_pubmed' %}"
                   {% if request.resolver_match.view_name == 'new_pubmed' %}class="navbar-item has-text-weight-bold"{% endif %}
                   class="navbar-item">New
                </a>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="button">
                            {% include "includes/icon.html" with name="log-out" %}
                            Log Out
                        </a>
                        <a href="{% url 'profile' username=user.username %}" class="button">
                            {% include "includes/icon.html" with name="user" %}
                            Profile
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}" class="button">
                            {% include "includes/icon.html" with name="log-in" %}
                            Log In
                        </a>
                        <a href="{% url 'signup' %}" class="button">
                            {% include "includes/icon.html" with name="user" %}
                            Sign Up
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
