{% extends "layouts/base.html" %}
{% block title %}Allele Curation {{ curation.curation_id }}{% endblock %}
{% block description %}The details page for allele curation {{ curation.curation_id }} in the HLA curation interface.{% endblock %}
{% block content %}
    <h1 class="title is-3">Curation {{ curation.curation_id }}</h1>
    <div class="block">
        <table class="table">
            <tbody>
            <tr>
                <td>Disease</td>
                <td><a href="{% url 'details_mondo' mondo_id=curation.disease.mondo_id %}">{{ curation.disease.label }} ({{ curation.disease.mondo_id }})</a></td>
            </tr>
            <tr>
                <td>Allele</td>
                <td><a href="{% url 'details_allele' car_id=curation.allele.car_id %}">{{ curation.allele.descriptor }} ({{ curation.allele.car_id }})</a></td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{ curation.status }}</td>
            </tr>
            </tbody>
        </table>
        <h2 class="title is-4">Score Summary</h2>
        <div class="block">
            {% if curation.score %}
                The score table goes here.
            {% else %}
                This curation doesn't have a score yet.
            {% endif %}
        </div>
        <h2 class="title is-4">Associations</h2>
        <div class="block">
            <div class="box">
                <h3 class="title is-5">PubMed Article Associations</h3>
                <div class="block">
                    <button hx-post="{% url 'new_allele_association' curation_id=curation.curation_id %}"
                            hx-target="body"
                            hx-swap="outerHTML"
                            hx-vals='{"publication_type": "pubmed"}'
                            class="button is-small"
                    >
                        New PubMed Association
                    </button>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Association ID</th>
                        <th>PubMed Article</th>
                        <th>Included</th>
                        <th>Conflicting</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if curation.pubmed_associations.all %}
                        {% for association in curation.pubmed_associations.all %}
                            <tr>
                                <td><a href="{% url 'edit_allele_association' curation_id=curation.curation_id association_id=association.association_id %}">{{ association.association_id }}</a></td>
                                <td>{{ association.pubmed_article|default:"(Article not selected.)" }}</td>
                                <td>{{ association.is_included_for_scoring }}</td>
                                <td>{{ association.is_conflicting_evidence }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <td colspan="4">This curation doesn't have any PubMed article associations yet.</td>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="box">
                <h3 class="title is-5">bioRxiv Paper Associations</h3>
                <div class="block">
                    <button hx-post="{% url 'new_allele_association' curation_id=curation.curation_id %}"
                            hx-target="body"
                            hx-swap="outerHTML"
                            hx-vals='{"publication_type": "biorxiv"}'
                            class="button is-small"
                    >
                        New bioRxiv Association
                    </button>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Association ID</th>
                        <th>bioRxiv Paper</th>
                        <th>Included</th>
                        <th>Conflicting</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if curation.biorxiv_associations.all %}
                        {% for association in curation.biorxiv_associations.all %}
                            <tr>
                                <td><a href="{% url 'edit_allele_association' curation_id=curation.curation_id association_id=association.association_id %}">{{ association.association_id }}</a></td>
                                <td>{{ association.biorxiv_paper|default:"(Paper not selected.)" }}</td>
                                <td>{{ association.is_included_for_scoring }}</td>
                                <td>{{ association.is_conflicting_evidence }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <td colspan="4">This curation doesn't have any bioRxiv paper associations yet.</td>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="box">
                <h3 class="title is-5">medRxiv Paper Associations</h3>
                <div class="block">
                    <button hx-post="{% url 'new_allele_association' curation_id=curation.curation_id %}"
                            hx-target="body"
                            hx-swap="outerHTML"
                            hx-vals='{"publication_type": "medrxiv"}'
                            class="button is-small"
                    >
                        New medRxiv Association
                    </button>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Association ID</th>
                        <th>medRxiv Paper</th>
                        <th>Included</th>
                        <th>Conflicting</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if curation.medrxiv_associations.all %}
                        {% for association in curation.medrxiv_associations.all %}
                            <tr>
                                <td><a href="{% url 'edit_allele_association' curation_id=curation.curation_id association_id=association.association_id %}">{{ association.association_id }}</a></td>
                                <td>{{ association.medrxiv_paper|default:"(Paper not selected.)" }}</td>
                                <td>{{ association.is_included_for_scoring }}</td>
                                <td>{{ association.is_conflicting_evidence }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <td colspan="4">This curation doesn't have any medRxiv paper associations yet.</td>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}