{% extends "layouts/base.html" %}
{% block title %}Evidence #{{ object.pk }} Details{% endblock %}
{% block description %}View information about evidence #{{ object.pk }}.{% endblock %}
{% block main %}
<div class="box mt-6 mb-6">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{% url 'home' %}">
                    Home
                </a>
            </li>
            <li>
                <a href="{% url 'curation-search' %}">
                    Curations
                </a>
            </li>
            <li>
                <a href="{% url 'curation-detail' object.curation.pk %}">
                    Curation #{{ object.curation.pk }}
                </a>
            </li>
            <li class="is-active">
                <a href="" aria-current="page">
                    Evidence #{{ object.pk }}
                </a>
            </li>
        </ul>
    </nav>
    <h1 class="title">Evidence Details</h1>
    {% include "evidence/partials/detail_table.html" %}
    <a href="{% url 'curation-detail' object.curation.pk %}" class="button" id="back-button">
        {% include "common/icon.html" with icon_name="arrow-left" %}
        Back to Curation
    </a>
    <hr>
    <div class="columns">
        <div class="column is-one-fifth">
            <aside class="menu" id="menu">
                <p class="menu-label">Menu</p>
                <ul class="menu-list">
                    <li><a href="#data">Data</a></li>
                    <li><a href="#score">Score</a></li>
                </ul>
            </aside>
        </div>
        <div class="column">
            <div class="box">
                <h1 class="title" id="data">Data</h1>
                <a href="{% url 'evidence-edit' object.curation.pk object.pk %}" class="button" id="edit-button">
                    {% include "common/icon.html" with icon_name="pencil" %}
                    Edit
                </a>
                {% include "evidence/partials/data.html" %}
            </div>
            <div class="box">
                <h1 class="title" id="score">Score</h1>
                {% include "evidence/partials/score.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
