{% extends "layouts/base.html" %}
{% block title %}Edit Evidence{% endblock %}
{% block description %}Edit evidence #{{ object.pk }}.{% endblock %}
{% block main %}
<div class="box mt-6 mb-6">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{% url 'home' %}">
                    Home
                </a>
            </li>
            <li>
                <a href="{% url 'curation-search' %}">
                    Curations
                </a>
            </li>
            <li>
                <a href="{% url 'curation-detail' object.curation.pk %}">
                    Curation #{{ object.curation.pk }}
                </a>
            </li>
            <li>
                <a href="{% url 'evidence-detail' object.curation.pk object.pk %}">
                    Evidence #{{ object.pk }}
                </a>
            </li>
            <li class="is-active">
                <a href="" aria-current="page">
                    Edit Evidence Data
                </a>
            </li>
        </ul>
    </nav>
    <h1 class="title">Edit Evidence Data</h1>
    {% include "evidence/partials/detail_table.html" %}
    <a href="{% url 'evidence-detail' object.curation.pk object.pk %}" class="button" id="back-button">
        {% include "common/icon.html" with icon_name="arrow-left" %}
        Back to Evidence Details
    </a>
    <hr>
    <div class="columns">
        <div class="column is-one-fifth">
            <aside class="menu">
                <p class="menu-label">Menu</p>
                <ul class="menu-list">
                    <li><a href="#gwas">GWAS</a></li>
                    <li><a href="#zygosity">Zygosity</a></li>
                    <li><a href="#phase">Phase</a></li>
                    <li><a href="#typing-method">Typing Method</a></li>
                    <li><a href="#multiple-testing-correction">Multiple Testing Correction</a></li>
                    <li><a href="#effect-size">Effect Size</a></li>
                    <li><a href="#save">Save</a></li>
                </ul>
            </aside>
        </div>
        <div class="column">
            <form method="post">{% csrf_token %}
                <div class="box">
                    <h2 id="gwas" class="title is-4">GWAS</h2>
                    {% include "common/form/input_radio.html" with field=form.is_gwas hide_label=True show_help=True %}
                    {% include "common/form/textarea.html" with field=form.is_gwas_notes %}
                </div>
                <div class="box">
                    <h2 id="zygosity" class="title is-4">Zygosity</h2>
                    {% include "common/form/input_radio.html" with field=form.zygosity hide_label=True %}
                    {% include "common/form/textarea.html" with field=form.zygosity_notes %}
                </div>
                <div class="box">
                    <h2 id="phase" class="title is-4">Phase</h2>
                    {% include "common/form/input_radio.html" with field=form.phase_confirmed hide_label=True show_help=True %}
                    {% include "common/form/textarea.html" with field=form.phase_confirmed_notes %}
                </div>
                <div class="box">
                    <h2 id="typing-method" class="title is-4">Typing Method</h2>
                    {% include "common/form/select.html" with field=form.typing_method hide_label=True show_help=True %}
                    {% include "common/form/textarea.html" with field=form.typing_method_notes %}
                </div>
                <div class="box">
                    <h2 id="p-value" class="title is-4">p-value</h2>
                    {% include "common/form/input_text.html" with field=form.p_value_string hide_label=True show_help=True %}
                    {% include "common/form/textarea.html" with field=form.p_value_notes %}
                </div>
                <div class="box">
                    <h2 id="multiple-testing-correction" class="title is-4">Multiple Testing Correction</h2>
                    {% include "common/form/select.html" with field=form.multiple_testing_correction hide_label=True %}
                    {% include "common/form/textarea.html" with field=form.multiple_testing_correction_notes %}
                </div>
                <div class="box">
                    <h2 id="effect-size" class="title is-4">Effect Size</h2>
                    {% include "common/form/input_text.html" with field=form.odds_ratio_string %}
                    {% include "common/form/textarea.html" with field=form.odds_ratio_notes show_help=False %}
                </div>
                <div class="box">
                    <h2 id="save" class="title is-4">Save</h2>
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit"
                                    class="button is-link"
                            >
                                Save All Changes
                            </button>
                        </div>
                        <div class="control">
                            <a href="{% url 'evidence-detail' object.curation.pk object.pk %}"
                               class="button is-link is-light"
                            >
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
