{% extends "layouts/base.html" %}
{% block title %}Edit Association {{ association.association_id }}{% endblock %}
{% block description %}The form for editing association {{ association.association_id }} in the HLA curation interface.{% endblock %}
{% block content %}
    <div class="block">
        <a href="{% url 'details_allele_curation' curation_id=association.curation.curation_id %}">&larr; Back to Curation</a>
    </div>
    <h1 class="title">Edit Association</h1>
    <h1 class="subtitle">{{ association.association_id }}</h1>
    <div class="columns">
        <div class="column is-one-fifth">
            <aside class="menu">
                <ul class="menu-list">
                    <li><a href="#basic-information">Basic Information</a></li>
                    <li><a href="#danger-zone">Danger Zone</a></li>
                </ul>
            </aside>
        </div>
        <div class="column">
            <div class="box">
                <h2 id="basic-information" class="title is-4">Basic Information</h2>
                <form method="post">
                    {% csrf_token %}
                    {% include "includes/form_select.html" with field=form.pubmed_article %}
                    {% include "includes/form_checkbox.html" with field=form.is_included_for_scoring %}
                    {% include "includes/form_checkbox.html" with field=form.is_conflicting_evidence %}
                    {% include "includes/form_submit_button.html" with text="Save" %}
                </form>
            </div>
            <div class="box">
                <h2 id="danger-zone" class="title is-4">Danger Zone</h2>
                {% include "associations/allele/pubmed/includes/delete_association.html" with association=association %}
            </div>
        </div>
    </div>
{% endblock %}
