{% extends "layouts/base.html" %}
{% block title %}Home{% endblock %}
{% block description %}The home page for the HLA curation interface.{% endblock %}
{% block content %}
    <div class="block">
        <section id="home-hero" class="hero">
            <div class="hero-body">
                <h2 class="title">HLA Curation Interface</h2>
                {% if user.is_authenticated %}
                    <p class="subtitle">
                        Welcome, {{ user.first_name }}. You are curating as part of the
                        {{ curator.active_affiliation.affiliation_name }} affiliation.
                    </p>
                {% else %}
                    <p class="subtitle" style="color: {{ hero_text_color }}">
                        Welcome. To curate, please
                        <a href="{% url 'login' %}">log in</a> or
                        <a href="{% url 'signup' %}">sign up</a>.
                    </p>
                {% endif %}
            </div>
        </section>
    </div>
    {% if curator %}
        <div class="block">
            <h3 class="title is-4">Your Allele Curations</h3>
            {% include "curations/includes/curation_table.html" with curations=allele_curations %}
        </div>
        <div class="block">
            <h3 class="title is-4">Your Haplotype Curations</h3>
            {% include "curations/includes/curation_table.html" with curations=haplotype_curations %}
        </div>
    {% else %}
        <div class="block">
            <h3 class="title is-4">All Allele Curations</h3>
            {% include "curations/includes/curation_table.html" with curations=allele_curations %}
        </div>
        <div class="block">
            <h3 class="title is-4">All Haplotype Curations</h3>
            {% include "curations/includes/curation_table.html" with curations=haplotype_curations %}
        </div>
    {% endif %}
{% endblock %}