{% extends "layouts/base.html" %}
{% block title %}Home{% endblock %}
{% block description %}The home page for the HLA curation interface.{% endblock %}
{% block content %}
    <div class="block">
        <section id="home-hero" class="hero">
            <div class="hero-body">
                <h2 class="title">HLA Curation Interface</h2>
                {% if user.is_authenticated %}
                    <p class="subtitle">
                        Welcome, {{ user.first_name }}. You are curating as part of the
                        {{ affiliation }} affiliation.
                    </p>
                {% else %}
                    <p class="subtitle" style="color: {{ hero_text_color }}">
                        Welcome. To curate as part of an affiliation, please
                        <a href="{% url 'login' %}">log in</a>.
                    </p>
                {% endif %}
            </div>
        </section>
    </div>
    {% if user.is_authenticated %}
        <div class="block">
            <h3 class="title is-4">Your Curations</h3>
            {% include "home/includes/dummy_table_your_curations.html" %}
        </div>
    {% else %}
        <div class="block">
            <h3 class="title is-4">All Curations</h3>
            {% include "home/includes/dummy_table_all_curations.html" %}
        </div>
    {% endif %}
{% endblock %}