{% extends "layouts/base.html" %}
{% block title %}{{ article.pubmed_id }} PubMed Article Details{% endblock %}
{% block description %}The details page for {{ article.pubmed_id }} in the HLA curation interface.{% endblock %}
{% block content %}
    <div class="block">
        <h1 class="title">PubMed Article Details</h1>
        <h2 class="subtitle">{{ article.title }}</h2>
        <div class="block">
            <table class="table">
                <tbody>
                    <tr>
                        <td>PubMed ID</td>
                        <td>{{ article.pubmed_id }}</td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>{{ article.title }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
