{% extends "layouts/base.html" %}
{% block title %}Home{% endblock %}
{% block description %}Log in to the HLA Curation Interface.{% endblock %}
{% block head %}
    <script type="module" src="{{ static('hci/js/firebase.js') }}"></script>
{% endblock %}
{% block main %}
    <div class="mt-6 mb-6">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <div class="box">
                    <div class="has-text-centered">
                        <h1 class="title">Log In</h1>
                        <button id="log-in-with-google-button" class="button">Continue With Google</button>
                        <button id="log-in-with-microsoft-button" class="button">Continue With Microsoft</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
