{% extends "layouts/base.html" %}
{% block title %}View Profile{% endblock %}
{% block description %}View your user profile in the HLA Curation Interface.{% endblock %}
{% block main %}
    <div class="block mt-6 mb-6">
        <h1 class="title">User Profile</h1>
        <nav class="level">
            <div class="level-left">
                {% if user_profile.firebase_photo_url %}
                    <div class="level-item">
                        <figure class="image is-32x32">
                            <img class="is-rounded" src="{{ user_profile.firebase_photo_url }}" alt="User photo.">
                        </figure>
                    </div>
                {% endif %}
                <div class="level-left">
                    <h2 class="subtitle">{{ request.user.email }}</h2>
                </div>
            </div>
        </nav>
        <div class="block">
            <a href="{{ url('edit-profile') }}"
               hx-boost="true"
               class="button is-small"
            >
                {% set icon_name="pencil" %}
                {% include "partials/icon.html" %}
                Edit
            </a>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    {% include "firebase/partials/profile/email.html" %}
                </tr>
                <tr>
                    <td>Display Name</td>
                    {% if user_profile.firebase_display_name %}
                        <td>
                            {{ user_profile.firebase_display_name }}
                        </td>
                    {% else %}
                        <td>
                            <span class="has-text-warning">
                                {% set icon_name="exclamation-triangle" %}
                                {% include "partials/icon.html" %}
                                (Display name isn't set.)
                            </span>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Profile Picture URL</td>
                    {% if user_profile.firebase_photo_url %}
                        <td>
                            {{ user_profile.firebase_photo_url }}
                        </td>
                    {% else %}
                        <td>
                            <span class="has-text-warning">
                                {% set icon_name="exclamation-triangle" %}
                                {% include "partials/icon.html" %}
                                (Profile picture URL isn't set.)
                            </span>
                        </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="block">
            <a hx-boost="true" class="button" href="{{ url('reset-password') }}">Reset Password</a>
        </div>
    </div>
{% endblock %}
