{% extends "layouts/base.html" %}
{% block title %}Reset Password{% endblock %}
{% block description %}Reset your password for the HLA Curation Interface.{% endblock %}
{% block main %}
    <div class="mt-6 mb-6">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <div class="box">
                    <h1 class="title has-text-centered">Reset Password</h1>
                    <div class="field">
                        <div class="control">
                            <label for="reset-password-1" class="label">New Password</label>
                            <input class="input is-small"
                                   type="password"
                                   id="reset-password-1"
                            >
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label for="reset-password-2" class="label">Confirm New Password</label>
                            <input class="input is-small"
                                   type="password"
                                   id="reset-password-2"
                            >
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" id="reset-password-button">Submit</button>
                        </div>
                        <div class="control">
                            <a href="{{ url('view-profile') }}"
                               hx-boost="true"
                               class="button is-link is-light"
                            >
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
