{% extends "layouts/base.html" %}
{% block title %}Home{% endblock %}
{% block description %}Log in to the HLA Curation Interface.{% endblock %}
{% block head %}
    <!-- The order of these Firebase items matters. -->
    <!-- The library versions also matter. -->
    <link type="text/css" rel="stylesheet" href="{{ static('hci/css/firebaseui.css') }}" />
    <script type="module" src="{{ static('hci/js/firebase.js') }}"></script>
{% endblock %}
{% block main %}
    <div class="mt-6 mb-6">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <div class="box">
                    <h1 class="title has-text-centered">Sign In</h1>
                    <div id="firebaseui-auth-container"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
