---
name: "codecov"
on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"
jobs:
  collect_and_upload_test_coverage:
    runs-on: "ubuntu-latest"
    env:
      DJANGO_SETTINGS_MODULE: "config.settings.prod"
      SECRET_KEY: "dummy"
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      SENTRY_ENV: "ci"
      WORKOS_API_KEY: ${{ secrets.TEST_WORKOS_API_KEY }}
      WORKOS_CLIENT_ID: ${{ secrets.TEST_WORKOS_CLIENT_ID }}
    steps:
      - uses: "actions/checkout@v4"
      - uses: "./.github/actions/install-python-dependencies"
      - uses: "./.github/actions/install-javascript-dependencies"
      - uses: "extractions/setup-just@v3"
      - name: "Collect test coverage and generate test coverage report"
        run: |
          just js-build
          just django-collectstatic
          just coverage-collect
          just coverage-xml
      - name: "Upload test coverage report to Codecov"
        uses: "codecov/codecov-action@v5"
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: "ClinGen/hla-curation-interface"
